#new-tweet {
  position: relative;
  width: 100%;
}

#new-tweet-form-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#tweet-text-area {
  position: relative;
  width: 100%;
  background-color: transparent;
  border: transparent;
  border-bottom: solid black 5px;
  resize: none;
}

#tweet-text-area::placeholder {
  opacity: 1;
  font-weight: 500;
}

.counter{
  position: relative;
  right: 0;
  font-family: 'Bungee', cursive;
}

#tweet-submit-button {
  background-color: #e3a6e6;
  font-family: 'Bungee', cursive;
  color: rgb(245, 245, 245);
  text-shadow: black 1px 1px;
  cursor: pointer;
}

#tweet-submit-button:hover {
  background-color: #322c85;
  box-shadow: 1px 1px 1px black;
}

#new-tweet-error {
  width: 100%;
  border: 5px solid rgb(244, 29, 29);
  background-color:  rgb(250, 161, 161);
  margin-top: 1%;
  padding: 8px;
  font-weight: bold;
  color: aliceblue;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-size: 1.5em;
  align-items: center;
}

.new-tweet-error-warning {
  width:8%;
  height: auto;
}

main section.new-tweet h2 {
  font-family: 'Bungee', cursive;
}

.red-text {
  color: red;
}